/*  Applied through out file  */
* {
  font-family: SF-Fortune-Wheel;
  font-size: 16px;
  box-sizing: border-box;
}

/*  Imported font  */
@font-face {
  font-family: SF-Fortune-Wheel;
  src: url(fortunewheel/SF-Fortune-Wheel.ttf)
}

/* Welcome page styling */
.main-title {
  margin: 0 auto; 
}

.player-input-form {
  height: 200px; 
  width: 150px; 
  display: flex; 
  flex-direction: column; 
}

form input {
  height: 50px; 
  margin-bottom: 10px; 
}

form button {
  height: 40px; 
}

/* Puzzle board  */
.top-row {
  display: flex;
}

.board {
  background: #00b784;
  padding: 50px;
}

.puzzle-square {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  background: #FFF
}

.puzzle-row {
  display: flex;
  margin-left: 50px;
}

/* User interaction elements */

.keyboard-button {
  height: 40px;
  width: 40px;
}

/* Player information  */
.player-area {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.player-area article {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
}