/*  Imported font  */

@font-face {
  font-family: 'Fortune';
  src: url("fortune-wheel/fortune-wheel.ttf") format('truetype');
}

/*  Applied throughout file  */

* {
  font-size: 16px;
  box-sizing: border-box;
}

button {
  height: 50px;
  background: #0b68a9;
  border: 5px solid #FFF;
  color: #FFF;
  font-weight: bold;
  border-radius: 25px;
  width: 200px;
  font-size: 1.4rem;
  cursor: pointer;
}

label, span, h4 {
  font-size: 1.5rem;
}

h3, p {
  margin: 5px 0;
}

/* Welcome page styling */

.new-game-screen-container {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.new-game-screen {
  text-align: center;
  position: absolute;
  background-image: url("wheeloffortune_final_1080.jpg");
  background-size: cover;
  height: 60%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 25%;
  left: 25%;
  z-index: 2;
  color: #FFF;
}

.main-title {
  margin: 0 auto;
}

.main-title h2 {
  font-family: 'Fortune';
  font-size: 4rem;
  color: #e79e22;
  margin: 20px;
}

.player-input-form {
  height: 250px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.player-input-form label {
  font-family: 'Fortune';
  font-size: 1.5rem;
}

form input {
  height: 50px;
  margin-bottom: 10px;
}

main {
  background-image: linear-gradient(to bottom right, black, blue);
  color: #FFF;
  height: auto;
}

/* Puzzle board  */

.category-container {
  grid-area: category;
  width: 100%;
}

.category {
  text-align: center;
  margin: 0;
  font-family: "Fortune";
  color: #e79e22;
  font-size: 2rem;
}

.category-name {
  font-family: sans-serif;
  color: #FFF;
  font-size: 2rem;
}

.top-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  height: 20px;
}

.board {
  padding: 10px;
  display: grid;
  grid-template-areas: "category category" "puzzle wheel";
  height: 400px;
}

.instruction-text {
  text-align: center;
  background: #319d82;
  border: 5px solid #FFF;
  border-radius: 5px;
  width: 50%;
}

.instruction-text-container {
  display: flex;
  justify-content: center;
}

.puzzle-container {
  grid-area: puzzle;
}

.puzzle-square {
  height: 75px;
  width: 75px;
  border: 1px solid black;
  background: #FFF;
  margin: 2px;
  border-radius: 20%;
  color: #FFF;
  text-align: center; 
  font-size: 4rem;
  background: #319d82;
}



.puzzle-row {
  display: flex;
  justify-content: center;
}

.show-letter {
  color: #000;
  transition: 0.5s  
}

.wheel-img {
  height: 300px;
}

.spin-button {
  position: absolute;
  top: 124px;
  left: 47px;
}

/* User interaction elements */

.guess-input {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.keyboard {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.keyboard-button {
  height: 40px;
  width: 40px;
}

button:disabled {
  background: #808080;
}

/* Player information  */

.player-area {
  display: flex;
  justify-content: space-around;
  height: 300px;
}

.player-container {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10%;
  padding: 20px 20px; 
}

.active {
  border: 8px solid #e79e22;
  transform: scale(1.1);
}

 .player-name  {
  font-family: 'Fortune';
  color: #e79e22;
  font-size: 1.7rem;
}

/* Wheel */

.wheel-container {
  display: flex;
  /* align-items: center; */
  /* flex-direction: column; */
  grid-area: wheel;
  width: 60%;
  /* margin-left: 100px; */
  position: relative;
  font-size: 3rem;
  font-weight: bold;
}

.wheel-output-container {
  height: 100px;
}

.wheel-output {
  font-family: "Fortune";
  font-size: 5rem;
  margin:  25px 0;
  width: 15px;
  word-wrap: break-word;
}

.showPuzzleSquare {
  background: #FFF;
}

.round-summary-container {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.round-summary {
  text-align: center;
  position: absolute;
  background: blue;
  height: 60%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 25%;
  left: 25%;
  z-index: 2;
  color: #FFF;
}

.quit-button {
  width: auto;
}