/*  Applied through out file  */
* {
  font-family: SF-Fortune-Wheel;
  font-size: 16px;
  box-sizing: border-box;
}

/*  Imported font  */
@font-face {
  font-family: SF-Fortune-Wheel;
  src: url(fortunewheel/SF-Fortune-Wheel.ttf)
}

/* Welcome page styling */
.main-title {
  margin: 0 auto; 
}

.player-input-form {
  height: 200px; 
  width: 150px; 
  display: flex; 
  flex-direction: column; 
}

form input {
  height: 50px; 
  margin-bottom: 10px; 
}

form button {
  height: 40px; 
}

/* Puzzle board  */
.category-container {
  grid-area: category; 
  width: 100%; 
}
.category {
  text-align: center;  
  margin: 0; 
}

.top-row {
  display: flex;
  justify-content: space-between; 
}

.board {
  background: #00b784;
  padding: 10px;
  display: grid; 
  grid-template-areas: "category category"
                        "puzzle wheel"; 
}

.instruction-text {
  text-align: center; 
}

.puzzle-container {
  grid-area: puzzle;
  width: 50%; 
}

.puzzle-square {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background: #FFF; 
  margin: 2px; 
  border-radius: 20%; 
}

.puzzle-row {
  display: flex;
  justify-content: center; 
}

/* User interaction elements */
.guess-input {
  display: flex; 
  justify-content: space-around; 
  margin-bottom: 5px; 
}

.keyboard {
  display: flex; 
  justify-content: center; 
}
.keyboard-button {
  height: 40px;
  width: 40px;
}

/* Player information  */
.player-area {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.player-area article {
  height: 50px;
  width: 80px;
  display: flex;
  flex-direction: column;
}

/* Wheel */
.wheel-container {
  display: flex; 
  flex-direction: column;
  grid-area: wheel;  
  width: 50%; 
}